#mocha {
  display: none;
}

.better-ember-reporter header {
  height: 60px;
  border-bottom: 1px solid rgba(64,66,68,.45);
}

.better-ember-reporter .item {
  line-height: 60px;
  padding: 0 10px;
}

.better-ember-reporter .item.left {
  float: left;
}

.better-ember-reporter .item.right {
  float: right;
}

.better-ember-reporter .container {
  padding: 10px;
}

.better-ember-reporter .suite {
  margin-bottom: 10px;
}

.better-ember-reporter .accordion {
  border-radius: .28571429rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15),0 0 0 1px rgba(34,36,38,.15);
  overflow: hidden;
}

.better-ember-reporter .accordion .title {
  cursor: pointer;
}

.better-ember-reporter .accordion .title .fa.fa-check {
  color: #00B622;
}

.better-ember-reporter .accordion .title .fa.fa-close {
  color: #ff0000;
  display: none;
}

.better-ember-reporter .accordion .title.failed .fa.fa-check {
  display: none;
}

.better-ember-reporter .accordion .title.pending .fa.fa-close,
.better-ember-reporter .accordion .title.pending .fa.fa-check {
  display: none;
}

.better-ember-reporter .accordion .title.failed .fa.fa-close {
  display: inline-block;
}

.better-ember-reporter .accordion .title,
.better-ember-reporter .accordion .content {
  padding: .75em 1em;
}

.better-ember-reporter .accordion .content.active {
  display: block;
}

.better-ember-reporter .accordion .content {
  display: none;
}

.better-ember-reporter .accordion .title:not(:first-child) {
  border-top: 1px solid rgba(34,36,38,.15);
}

.better-ember-reporter.hidePassed .suite .passed {
  display: none;
}

.better-ember-reporter .accordion .title > .fa-caret-down {
  display: none;
}

.better-ember-reporter .accordion .title.active > .fa-caret-down {
  display: inline-block;
}

.better-ember-reporter .accordion .title.active > .fa-caret-right {
  display: none;
}

.better-ember-reporter .accordion.test > .passed {
  background: #d1ffda;
}

.better-ember-reporter .accordion.test > .failed {
  background: #ffd1d1;
}

.better-ember-reporter .accordion > .title.pending,
.better-ember-reporter .accordion > .content.pending {
  background: #ffeeb3;
}

#better-ember-reporter-grep {
  border-radius: 4px 0 0 4px;
}

#better-ember-reporter-grep-button {
  border-radius: 0 4px 4px 0;
  border: 1px solid #cccccc;
  border-left: none;
}
